{% extends 'blog/base.html' %}
{% load static %}

{% block content %}


<div class="col-sm-10">
    <h3 class="text-white my-5"> About Page </h3>
    <p>Cinema of South India, refers to the cinema of the four major film industries in South India; primarily engaged in making feature films in the four major languages of the region, namely — Telugu, Tamil, Kannada and Malayalam. 
        They are often colloquially referred to as Kollywood, Tollywood, Sandalwood and Mollywood.
    </p>
    <p> Although the four industries developed independently for a long period of time, gross exchange of artists and technicians, as well as globalisation helped to shape this new identity.[1] By 2010.
        South India became the home for 6320, or about 62 of the 10,167 Cinema theatres in India.[2]
    </p>
    {% comment %} <h5 class="mt-5"> Your IP : {{ip}} </h5> {% endcomment %}
    {% comment %} <button type="button" class="btn btn-danger mt-3">Login Times <span class="badge badge-light"> {{ct}} </span> {% endcomment %}
    </button>  
</div>
{% endblock content %}
        